{% extends 'base.html' %}
{% load static %}
{% block title %}Carrinho{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="content">
    <div class="container">
        {% if carrinho.user %}
            <div class="alert alert-info">
                <h3>Compra Confirmada</h3>
                <h5>Usuário: {{ carrinho.user }}</h5>
            </div>
            <div class="alert alert-info">
                <h5>Pedido Número: {{ carrinho.id }}</h5>
            </div>
            <div class="alert alert-info">
                <div class="row">
                    <a class="col-md-4 font-weight-bold">Produto</a>
                    <a class="col-md-2 font-weight-bold">Quantidade</a>
                    <a class="col-md-2 font-weight-bold">Preço</a>
                    <a class="col-md-2 font-weight-bold">Total</a>
                </div>
                {% for item in itens %}
                    <div class="row">
                        <a class="col-md-4">{{ item.produto.Produto }}</a>
                        <a class="col-md-2">{{ item.quantidade }}</a>
                        <a class="col-md-2">R$ {{ item.preco|floatformat:2 }}</a>
                        <a class="col-md-2">R$ {{ item.total }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="alert alert-info">
                <h5 class="mt-2">Total: R$ {{ carrinho.total|floatformat:2 }}</h5>
            </div>
        {% else %}
            <div class="alert alert-warning mt-4" role="alert">
                Seu carrinho não foi finalizado.
            </div>
            <a href="{% url 'home' %}" class="btn btn-primary mt-3">Ir à loja</a>
        {% endif %}
        <div class="mt-4">
            <a href="{% url 'home' %}" class="btn btn-secondary">Voltar à loja</a>
        </div>
    </div>
</div>
{% endblock %}
