{% extends "base.html" %}
{% load static %}
{% block title %}Início{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 offset-sm-0">
                    <form action="{% url 'home' %}" method="GET">
                        <h3>Buscar produtos</h3>
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" class="form-control" name="produto" placeholder="nome do produto">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group mb-3">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="alert alert-info">
                Produtos encontrados [{{ produtos | length }}]
            </div>
            
            <div class="row">
                {% for prod in produtos %}
                    <div class="col-xs-9 col-md-3 col-lg-3">
                        <div class="card mb-4">
                            <div class="image-circle" style="background-image: url('/media/{{ prod.image }}');"></div>
                            <div class="card-body d-flex justify-content-between flex-wrap">
                                <h5 class="card-title w-100">{{ prod.Produto }}</h5>
                                <a href="{% url 'details_produto' prod.id %}" class="btn btn-primary btn-card mb-1">
                                    <i class="fa fa-search"></i> Ver
                                </a>
                                <button class="btn btn-warning btn-card mb-1">
                                    <i class="fa fa-heart"></i> Favoritar
                                </button>
                                <a href="{% url 'create_carrinhoitem' prod.id %}" class="btn btn-primary btn-card w-100 ml-0">
                                    <i class="fa fa-shopping-cart"></i> Comprar
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>            
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}