{% extends "base.html" %}
{% load static %}

{% block title %}Início{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="content">
    <div class="container">
        <form method="POST" action="/produto/delete">
            {% csrf_token %}
            <div class="row">
                <input type="hidden" value="{{produto.id}}" name="id">
                <h5 for="Produto" class="col-md-2">Produto</h5>
                <input value="{{produto.Produto}}" name="Produto" disabled>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {% if produto.destaque %}
                        <input type="checkbox" checked name="destaque" disabled>
                    {% else %}
                        <input type="checkbox" name="destaque" disabled>
                    {% endif %}
                    <label for="destaque">Destaque</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {% if produto.promocao %}
                        <input type="checkbox" checked name="promocao" disabled>
                    {% else %}
                        <input type="checkbox" name="promocao" disabled>
                    {% endif %}
                    <label for="promocao">Promoção</label>
                </div>
            </div>
            <div class="row">
                <label for="msgPromocao" class="col-md-2">Msg Promoção</label>
                <input value="{{produto.msgPromocao}}" name="msgPromocao" disabled>
            </div>
            <div class="row">
                <label for="CategoriaFk" class="col-md-2">Categoria</label>
                <select name="CategoriaFk" disabled>
                    <option value="{{produto.categoria}}" selected>{{ produto.categoria.Categoria }}</option>
                </select>
            </div>
            <div class="row">
                <label for="FabricanteFk" class="col-md-2">Fabricante</label>
                <select name="FabricanteFk" disabled>
                    <option value="{{produto.fabricante}}" selected>{{ produto.fabricante.Fabricante }}</option>
                </select>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-danger col-md-2 mt-3 mr-2">
                    <i class="fa fa-check"></i> Excluir
                </button>
                <a href="{% url 'produto' %}" class="btn bg-secondary col-md-2 mt-3">
                    <i class="fa fa-rotate-left"></i> Retornar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
