{% extends "base.html" %}
{% load static %}
{% block title %}Início{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <div id="content">
        <div class="container">
            <div class="alert alert-info">
                {% if usuario.perfil == 1 %}
                <a href="{% url 'create_produto' %}" class="btn btn-primary mr-2"> 
                    <i class="fa fa-plus"></i> Novo Produto
                </a>
                {% endif %}
                Produtos encontrados [{{ produtos | length }}]
            </div>
            {% for prod in produtos %}
                <div class="row">
                    <h5 class="col-md-3">{{prod.Produto}}</h5>
                    <span class="col-md-3">{{prod.preco}}</span>
                    <a href="{% url 'create_carrinhoitem' prod.id %}" class="btn btn-primary mb-2 mr-2"><i class="fa fa-shopping-cart"></i> Comprar</a>
                    <a href="{% url 'details_produto' prod.id %}" class="btn btn-primary mb-2 mr-2"><i class="fa fa-search"></i> Ver</a>
                    {% if usuario.perfil == 1 %}
                    <a href="{% url 'edit_produto' prod.id %}" class="btn bg-secondary mb-2 mr-2"><i class="fa fa-edit"></i> Editar</a>
                    <a href="{% url 'delete_produto' prod.id %}" class="btn btn-warning mb-2"><i class="fa fa-sign-in"></i> Apagar</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}